<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95236016722-vm3ovc98cansm0s3481li86dj53ppvt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95236016722-vm3ovc98cansm0s3481li86dj53ppvt3</string>
	<key>API_KEY</key>
	<string>AIzaSyAgWcs_ACcl7Tv8Fv_-N24x3AfIbBsOW3g</string>
	<key>GCM_SENDER_ID</key>
	<string>95236016722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanchez.NewRootes</string>
	<key>PROJECT_ID</key>
	<string>rootes-d6de6</string>
	<key>STORAGE_BUCKET</key>
	<string>rootes-d6de6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:95236016722:ios:08f92f335907873cd4ad8b</string>
	<key>DATABASE_URL</key>
	<string>https://rootes-d6de6.firebaseio.com</string>
</dict>
</plist>
